<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Titolo</title>
	<link rel="stylesheet" href="stile.css">
	<style>
		body {
			background-color: lightgray;
			font-family: Inter;
		}
		p {
			color: royalblue;
		}
	</style>	
	<link rel="preconnect" href="https://fonts.googleapis.com"> 
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap" rel="stylesheet">
</head>
<body>
	<h1>Lorem ipsum dolor sit amet</h1>
	<p>
		<span>Lorem ipsum dolor sit amet</span>, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tincidunt tortor aliquam nulla facilisi. Nibh cras pulvinar mattis nunc sed blandit libero volutpat sed. Condimentum lacinia quis vel eros donec ac odio tempor. Dolor morbi non arcu risus quis. Diam sollicitudin tempor id eu nisl nunc mi ipsum. Tellus elementum sagittis vitae et leo duis ut. Pulvinar etiam non quam lacus suspendisse faucibus interdum. Donec pretium vulputate sapien nec. Amet venenatis urna cursus eget nunc scelerisque. Fringilla urna porttitor rhoncus dolor purus non enim praesent elementum. Molestie at elementum eu facilisis sed odio morbi quis commodo. Tellus rutrum tellus pellentesque eu tincidunt tortor aliquam nulla facilisi. Quisque sagittis purus sit amet volutpat consequat mauris nunc.
	</p>
	<p style="color: green;">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tincidunt tortor aliquam nulla facilisi. Nibh cras pulvinar mattis nunc sed blandit libero volutpat sed. Condimentum lacinia quis vel eros donec ac odio tempor. Dolor morbi non arcu risus quis. Diam sollicitudin tempor id eu nisl nunc mi ipsum. Tellus elementum sagittis vitae et leo duis ut. Pulvinar etiam non quam lacus suspendisse faucibus interdum. Donec pretium vulputate sapien nec. Amet venenatis urna cursus eget nunc scelerisque. Fringilla urna porttitor rhoncus dolor purus non enim praesent elementum. Molestie at elementum eu facilisis sed odio morbi quis commodo. Tellus rutrum tellus pellentesque eu tincidunt tortor aliquam nulla facilisi. Quisque sagittis purus sit amet volutpat consequat mauris nunc.
	</p>
</body>
</html>
