*, *:before, *:after {
	box-sizing: border-box;
}

body {
	background-color: tomato; /* white, #FFFFFF */
	padding: 2em;
	margin: 0;
	font-family: "Times New Roman", Times, serif;
}

p {
	margin: 0 0 1em 0;
	max-width: 30em;
}

h1 {
	margin: 0;
	font-size: 3em;
}

h4 {
	margin: 0;
}

header,
section {
	display: grid;
	grid-template-columns: 1fr 4fr;
	margin-bottom: 2em;
	padding-top: 0.25em;
}

.filetto {
	border-top: solid 1px black;
}

img {
	width: 100%;
}

.titolo-sezione {
	margin-right: 1em;
}

.contenuto-sezione {
}

.contenitore {
	max-width: 54em;
}

/* -- breakpoint: schermi piccoli, larghezza massima 500 pixel -- */

@media only screen and (max-width: 600px) {

	header,
	section {
		grid-template-columns: 1fr;
	}

	.contenitore {
		width:100%;
	}
	.contenuto-sezione {
		width: 100%;
	}
	.titolo-sezione {
		width: 100%;
	}
}