<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Titolo Pagina</title>
	<meta name="author"      content="Nome Cognome">
	<meta name="description" content="Descrizione">
	<meta name="viewport"    content="width=device-width, initial-scale=1">

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">

	<link rel="stylesheet"   href="./assets/css/main.css">
</head>
<body>
	<main class="contenitore">

		<!-- --------------------------------------------------------------------- -->

		<header>
			<span></span>
			<h1>Titolo</h1>
		</header>

		<!-- --------------------------------------------------------------------- -->

		<section class="filetto">
			<h4 class="titolo-sezione">Sezione 1: <br>Funzioni trigonometriche</h4>
			<div class="contenuto-sezione">
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					Maecenas quis ante sit amet neque cursus hendrerit ac sit amet nisl.
					In cursus aliquam odio eu eleifend.
					Ut sed auctor magna.
					In hac habitasse platea dictumst.
					Aliquam aliquam nisl mi.
					Phasellus et orci elit.<br>
					Maecenas vehicula elit et lacus accumsan consequat.
					Nam consectetur lacus ante.
					Vestibulum et massa dolor.
					Aenean condimentum blandit eros non dapibus.
					Maecenas quam nulla, porta eu nibh in, cursus iaculis mauris.
					Phasellus sit amet nulla eu tellus dictum cursus.
					Sed aliquet, ipsum sit amet tempus semper, augue velit consequat mi, et gravida sem purus a quam.
				</p>
				<iframe scrolling=no frameborder=0 height=500 src="./assets/sketches/funzioni_trigonometriche/"></iframe>
			</div>
		</section>

		<!-- --------------------------------------------------------------------- -->

		<section class="filetto">
			<h4 class="titolo-sezione">Sezione 2:<br>I vettori</h4>
			<div class="contenuto-sezione">
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					Maecenas quis ante sit amet neque cursus hendrerit ac sit amet nisl.
					In cursus aliquam odio eu eleifend.
					Ut sed auctor magna.
					In hac habitasse platea dictumst.
					Aliquam aliquam nisl mi.
					Phasellus et orci elit.
					Maecenas vehicula elit et lacus accumsan consequat.
					Nam consectetur lacus ante.
					Vestibulum et massa dolor.
					Aenean condimentum blandit eros non dapibus.
					Maecenas quam nulla, porta eu nibh in, cursus iaculis mauris.
					Phasellus sit amet nulla eu tellus dictum cursus.
					Sed aliquet, ipsum sit amet tempus semper, augue velit consequat mi, et gravida sem purus a quam.
				</p>
				<iframe scrolling=no frameborder=0 height=500 src="./assets/sketches/classe_vettori/"></iframe>
			</div>
		</section>

		<!-- --------------------------------------------------------------------- -->

		<section class="filetto">
			<h4 class="titolo-sezione">Sezione 3:<br>Linea tratteggiata</h4>
			<div class="contenuto-sezione">
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					Maecenas quis ante sit amet neque cursus hendrerit ac sit amet nisl.
					In cursus aliquam odio eu eleifend.
					Ut sed auctor magna.
					In hac habitasse platea dictumst.
					Aliquam aliquam nisl mi.
					Phasellus et orci elit.
					Maecenas vehicula elit et lacus accumsan consequat.
					Nam consectetur lacus ante.
					Vestibulum et massa dolor.
					Aenean condimentum blandit eros non dapibus.
					Maecenas quam nulla, porta eu nibh in, cursus iaculis mauris.
					Phasellus sit amet nulla eu tellus dictum cursus.
					Sed aliquet, ipsum sit amet tempus semper, augue velit consequat mi, et gravida sem purus a quam.
				</p>
				<iframe scrolling=no frameborder=0 height=500 src="./assets/sketches/linea_tratteggiata/"></iframe>
			</div>
		</section>

		<!-- --------------------------------------------------------------------- -->

		<section class="filetto">
			<h4 class="titolo-sezione">Sezione 4:<br>Spirograph</h4>
			<div class="contenuto-sezione">
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					Maecenas quis ante sit amet neque cursus hendrerit ac sit amet nisl.
					In cursus aliquam odio eu eleifend.
					Ut sed auctor magna.
					In hac habitasse platea dictumst.
					Aliquam aliquam nisl mi.
					Phasellus et orci elit.
					Maecenas vehicula elit et lacus accumsan consequat.
					Nam consectetur lacus ante.
					Vestibulum et massa dolor.
					Aenean condimentum blandit eros non dapibus.
					Maecenas quam nulla, porta eu nibh in, cursus iaculis mauris.
					Phasellus sit amet nulla eu tellus dictum cursus.
					Sed aliquet, ipsum sit amet tempus semper, augue velit consequat mi, et gravida sem purus a quam.
				</p>
				<iframe scrolling=no frameborder=0 height=500 src="./assets/sketches/spirograph/"></iframe>

			</div>
		</section>

<!-- --------------------------------------------------------------------- -->

		<section class="filetto">
			<h4 class="titolo-sezione">Sezione 5:<br> Radianti (GIF)</h4>
			<div class="contenuto-sezione">
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit.
					Maecenas quis ante sit amet neque cursus hendrerit ac sit amet nisl.
					In cursus aliquam odio eu eleifend.
					Ut sed auctor magna.
					In hac habitasse platea dictumst.
					Aliquam aliquam nisl mi.
					Phasellus et orci elit.
					Maecenas vehicula elit et lacus accumsan consequat.
					Nam consectetur lacus ante.
					Vestibulum et massa dolor.
					Aenean condimentum blandit eros non dapibus.
					Maecenas quam nulla, porta eu nibh in, cursus iaculis mauris.
					Phasellus sit amet nulla eu tellus dictum cursus.
					Sed aliquet, ipsum sit amet tempus semper, augue velit consequat mi, et gravida sem purus a quam.
				</p>
				<img src="https://upload.wikimedia.org/wikipedia/commons/4/4e/Circle_radians.gif">
			</div>
		</section>

<!-- --------------------------------------------------------------------- -->

		<section class="filetto">
			<h4 class="titolo-sezione">Bibliografia</h4>
			<div class="contenuto-sezione">
				<ul>
					<li>
						<a target="_blank" href="https://en.wikipedia.org/wiki/Trigonometric_functions">Wikipedia (en): Trigonometric functions</a>
					</li>
					<li>Maecenas quis ante sit amet neque cursus hendrerit ac sit amet nisl</li>
					<li>In cursus aliquam odio eu eleifend</li>
					<li>Ut sed auctor magna</li>
					<li>In hac habitasse platea dictumst</li>
					<li>Aliquam aliquam nisl mi</li>
					<li>Phasellus et orci elit</li>
					<li>Maecenas vehicula elit et lacus accumsan consequat</li>
					<li>Nam consectetur lacus ante</li>
					<li>Vestibulum et massa dolor</li>
					<li>Aenean condimentum blandit eros non dapibus</li>
					<li>Maecenas quam nulla, porta eu nibh in, cursus iaculis mauris</li>
					<li>Phasellus sit amet nulla eu tellus dictum cursus</li>
					<li>Sed aliquet, ipsum sit amet tempus semper, augue velit consequat mi, et gravida sem purus a quam</li>
				</ul>

			</div>
		</section>
	</main>
</body>
</html>
